name: Build Hypervisor ISO & USB

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
    - uses: actions/checkout@v4

    - name: Free disk space
      uses: jlumbroso/free-disk-space@v1.3.1
      with:
        tool-cache: false
        android: true
        dotnet: true
        haskell: true
        large-packages: true
        swap-storage: true

    - uses: DeterminateSystems/nix-installer-action@v16
    - uses: DeterminateSystems/magic-nix-cache-action@v13
      with:
        use-flakehub: false

    - name: Install 7z
      run: sudo apt-get update && sudo apt-get install -y p7zip-full

    - name: Build ISO
      run: nix build .#iso --out-link result-iso

    - name: Build Debug ISO
      run: nix build .#iso-debug --out-link result-iso-debug

    - name: Compress ISOs
      run: |
        mkdir -p dist
        7z a -t7z -mx=9 dist/snosu-hyper-recovery-x86_64-linux.iso.7z result-iso/iso/*.iso
        7z a -t7z -mx=9 dist/snosu-hyper-recovery-debug-x86_64-linux.iso.7z result-iso-debug/iso/*.iso

    - name: Upload ISO
      uses: actions/upload-artifact@v4
      with:
        name: snosu-hyper-recovery-iso
        path: dist/snosu-hyper-recovery-x86_64-linux.iso.7z
        if-no-files-found: error

    - name: Upload Debug ISO
      uses: actions/upload-artifact@v4
      with:
        name: snosu-hyper-recovery-iso-debug
        path: dist/snosu-hyper-recovery-debug-x86_64-linux.iso.7z
        if-no-files-found: error

    - name: Free ISO Space
      run: rm -rf result-iso result-iso-debug

    - name: Build USB Image
      run: nix build .#usb --out-link result-usb

    - name: Compress USB Image
      run: |
        mkdir -p dist
        7z a -t7z -mx=9 dist/snosu-hyper-recovery-x86_64-linux.img.7z result-usb/usb/*.img

    - name: Upload USB Image
      uses: actions/upload-artifact@v4
      with:
        name: snosu-hyper-recovery-usb
        path: dist/snosu-hyper-recovery-x86_64-linux.img.7z
        if-no-files-found: error
