name: Build Hypervisor ISO & USB

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Free disk space
      uses: jlumbroso/free-disk-space-action@v1.3.1
      with:
        tool-cache: false
        android: true
        dotnet: true
        haskell: true
        large-packages: true
        swap-storage: true

    - uses: DeterminateSystems/nix-installer-action@v16
    - uses: DeterminateSystems/magic-nix-cache-action@v8

    - name: Build ISO
      run: nix build .#iso --out-link result-iso

    - name: Upload ISO
      uses: actions/upload-artifact@v4
      with:
        name: snosu-hyper-recovery-iso
        path: result-iso/iso/*.iso
        if-no-files-found: error

    - name: Free ISO Space
      run: rm -rf result-iso

    - name: Build USB Image
      run: nix build .#usb --out-link result-usb

    - name: Upload USB Image
      uses: actions/upload-artifact@v4
      with:
        name: snosu-hyper-recovery-usb
        path: result-usb/usb/*.img
        if-no-files-found: error
